*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.visual-spring{
	width: 100%;
	height: 200px;
	background-image: url(img2/box1.jpg);
	background-size: cover;
	background-position: center;
}

.visual-summer{
	width: 100%;
	height: 200px;
	background-image: url(img2/box2.jpg);
	background-size: cover;
	background-position: center;
}

.visual-autumn{
	width: 100%;
	height: 200px;
	background-image: url(img2/box3.jpg);
	background-size: cover;
	background-position: center;
}

.visual-winter{
	width: 100%;
	height: 200px;
	background-image: url(img2/box4.jpg);
	background-size: cover;
	background-position: center;
}